export BLINKERED_DB_HOST=127.0.0.1
export BLINKERED_DB_PORT=55432
export BLINKERED_DB_TLS=no
export BLINKERED_DB_USER=blinkered
export BLINKERED_DB_PASSWORD=password
export BLINKERED_DB_NAME=testpass
export BLINKERED_DB_SCHEMA=blinkered
